{%- import "expand.jinja" as _ with context -%}
#ifndef PINTS_POLYFILL_DEFINES_H
#define PINTS_POLYFILL_DEFINES_H
//{{ FILE }}

////////////////////////////////////////////////////////////////////////////////
// Internal Types
////////////////////////////////////////////////////////////////////////////////
{% call _.expand_both() %}
#define %T %I
{% endcall %}
{% call _.expand_both() %}
#define %M %iT
{% endcall %}


{% set DEFINE = True -%}
{% include "definitions.jinja" with context %}

#endif //PINTS_POLYFILL_DEFINES_H
