{%- import "expand.jinja" as _ with context -%}
#ifndef PINTS_POLYFILL_FUNCS_H
#define PINTS_POLYFILL_FUNCS_H
//{{ FILE }}

#include "stdint.h"
#include "math.h"

////////////////////////////////////////////////////////////////////////////////
// Internal Types
////////////////////////////////////////////////////////////////////////////////
{% call _.expand_both() %}
{% if size1() == 1 %}
%I {
  %t v;
  %it i;
};
{% else %}
%I { %-T a, b; };
{% endif %}
{% endcall %}

////////////////////////////////////////////////////////////////////////////////
// Declarations
////////////////////////////////////////////////////////////////////////////////
{%- set STRUCTS = False -%}
{%- set DECLARE = True -%}
{% include "definitions.jinja" with context %}

////////////////////////////////////////////////////////////////////////////////
// Implementations
////////////////////////////////////////////////////////////////////////////////
{%- set DECLARE = False -%}
{%- set IMPLEMENTATION = True -%}
{% include "definitions.jinja" with context %}

#endif //PINTS_POLYFILL_FUNCS_H
